<div class = "container-fluid newWrapper">
  <div class ="editNewContent">
    <div class ="editNewH1Part"><h1>작성하기</h1></div>
    <h3>작성할 내용을 입력해주세요</h3>
  <%= render 'form' %>
  <%= link_to '뒤로가기', notices_path %>
  </div>
</div>