<h1>Notices#new</h1>
<p>Find me in app/views/notices/new.html.erb</p>

<%= render 'form' %>

<%= link_to '뒤로가기', notices_path %><h1>Notices#new</h1>
<p>Find me in app/views/notices/new.html.erb</p>

<%= render 'form' %>

<%= link_to '뒤로가기', notices_path %>