<h1>Private#index</h1>
<p>여기는 이제 가입한 멤버들이 보게될 홈 페이지가 될 것 같습니다.</p>
<%= link_to "공지", notices_path %> |
<%= link_to "질문", qnas_path %> |
<%= link_to "멋사자료", inclasses_path %> |
<%= link_to "팁", tips_path %>
