<div class = "container-fluid editWrapper">
    <div class ="editNewContent">
        <div class ="editNewH1Part"><h1>수정하기</h1></div>
        <h3>수정할 내용을 입력해주세요</h3>
    
    <%= render 'form' %>
    
    <%= link_to '뒤로가기', inclasses_path %>
</div>