<div class = "container-fluid editWrapper">
    
    <nav class="navbar fixed-top navbar-dark bg-dark privateNav">
    <a class="navbar-brand" href="/"><span style="color:#5B7DFF;">HUFSLION</span> x <span style="color:#FFCA50;">멋쟁이외대처럼</span></a>
    </nav>

    
    <div class ="editNewContent">
        <div class ="editNewH1Part"><h1>수정하기</h1></div>
        <h3>수정할 내용을 입력해주세요</h3>
    
    <%= render 'form' %>
    
    <%= link_to '뒤로가기', inclasses_path %>
</div>